@charset "UTF-8";

@font-face {
    font-family: "tommy";
    src: url(../font/tommy-soft/MADE\ Tommy\ Soft\ Medium\ PERSONAL\ USE.otf) format('opentype');
}
@font-face {
    font-family: "kiona";
    src: url(../font/kiona/Kiona-Regular.ttf) format( );
}
@font-face {
    font-family: "keepcalm";
    src: url(../font/keep-calm/KeepCalm-Medium.ttf) format('truetype');
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif, Arial
}
::-webkit-scrollbar{
    width: 0px;
    height: 0px;
}
body,html{
    background: url(../imagens/neo.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}
main{
    width: 100%;
    overflow: hidden;
}
header{
    display: flex;
    background: rgba(14, 36, 61, 0.455);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 10px );
    -webkit-backdrop-filter: blur( 5px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    width: 100%;
    height: 60px;   
}
#lista{
    
    display: flex;
    list-style: none;  
    width: 70vw;  
}
#trello-menu1{
    display: block;
    width: 45px;
    height: 45px;
    margin: 10px 0px 0px 10px;
    
}
#trello-menu1 > img{
    cursor: pointer;
    margin-top: 2px;
    width: 32px;
    height: 32px;
    padding:2px;
}
#trello-menu1 > img:hover{
    background-color: #3a5975;
    border-radius: 3px;
}
#trello-menu-principal{
    display: block;
    margin: 5px 15px 0px 0px;
    padding-left: 5px;
    height: 45px;
    width: 100px;

}

.trello1, .trello2{
    position: relative;
}
.trello1 > img{
    margin-left: -8px;
    margin-top: 6px;
    height: 37px;
    width: 111px;
}
.trello2 > img{
    margin-top: 13px;
    height: 20px;
    width: 90px;
}
#trello-menu-principal:hover{
    background-color: #3a5975;
    border-radius: 6%;
}
#link-home{
    text-decoration: none;
    
}
#trello-menu-principal > img{
    margin-top: 10px;
}
#trello-menu-principal > p{
    text-align: center;
    margin-top: -30px;
    margin-left: 10px;
    font-weight: bolder;
    font-family: tommy;
    font-size: 1.4em;
    color: white;
}
#mais{
    display: block;
    margin: 7px 0px 0px 0px;
    height: 45px;
    width: 120px;
}
#mais > p{
    position: absolute;
    margin-top: 13px;
    color: white;
}
#mais > #mostrar-mais{
    position: absolute;
    margin: 10px 0px 0px 40px;
}
#mais > #btn-mais{
    width: 24px;
    height: 24px;
    float: right;
    margin: 12px;
}
#mais > #btn-mais > img{
    height: 20px;
    width: 20px;
    color: white;
}
#secao-info{
    position: fixed;
}
#menu-abrir-fechar{
    z-index: 999;
    height: 100%;
    width: 0;
    background: rgba( 74, 144, 226, 0.2 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 20px );
    -webkit-backdrop-filter: blur( 10px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: 0.3s;
}
#menu-abrir-fechar > #containSuaPagina{
    display: flex;
    width: 200px;
}
#menu-abrir-fechar > #containSuaPagina > #SuaPagina{
    background: linear-gradient(45deg, rgb(80, 80, 119), lightblue);
    height: 47px;
    width: 50px;
    margin: 5px 0px 10px 4px;
    text-align: center;
    padding-top: 15px;
    border-radius: 50%;
    border: 1px solid #707686;
    color: white;
}
#menu-abrir-fechar > #containSuaPagina > #write{
    margin-top: 20px;
    margin-left: 10px;
    font-size: 1.2em;
    font-weight: bolder;
    color: #ffffff;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.39);
}
#menu-abrir-fechar > h2{
    margin: 5px 0px 10px 7px;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.39);
    color: white;
    font-size: 1em;
}
#h3{
    cursor: pointer;
}
#h3 > p{
    position: absolute;
    margin-top: 4px;
    margin-left: 10px;
    background: linear-gradient(45deg, rgb(80, 80, 119), lightblue);
    height: 30px;
    width: 30px;
    padding-top: 9px;
    color: white;
    text-shadow: 1px 1px 1px black;
    text-align: center;
    font-size: 0.7em;
    border-radius: 50%;
}

#h3 > h3{
    font-size: 0.8em;
    background-color: #707686;
    color: white;
    height: 40px;
    padding-top: 10px;
    padding-left: 50px;
}
#h3 > h3:hover{
    background-color: #2f3138;
}
#abrirMenu{
    background-color: #809baa65;
    border: none;
    width: 40px;
    height: 40px;
    
}
#abrirMenu:hover{
    background-color: rgb(115, 134, 151);
}
#btn-abrir{
    font-size: 20px;
    height: 25px;
    width: 35px;
    text-decoration: none;
    border: none;
    color: #131b31;
}
#buttonFechar{
    display: block;
    background-color: #809baa;
    border: none;
    width: 40px;
    height: 40px;
    margin-left: 210px;
    float: right;
    
}
#closewin{
    text-shadow: 1px 1px 5px #131b31;
    position: absolute;
    color: white;
    background-color: #809baa;
    height: 40px;
    width: 210px;
    font-family: "tommy";
    font-size: 1.3em;
    padding-top: 5px;
    padding-left: 3px;
}

#btn-fechar{
    font-size: 20px;
    height: 25px;
    width: 35px;
    text-decoration: none;
    border: none;
    color: #131b31;
}
#par{
    display: flex;
    width: 100%;
}
#par > p{
    text-shadow: 1px 1px 5px #131b31;
    position: absolute;
    margin-left: 40px;
    font-size: 1.3em;
    font-family: tommy;
    color: #ecf2ff;
    background-color: #050d12;
    height: 40px;
    width: 200px;
    padding-left: 10px;
    padding-top: 5px;
}

#fav-title{
    display: flex;
    width: 100%;
}
#fav-title > h1{
    color: #ffffff;
    margin-top: 10px;
    margin-left: 5px;
    margin-bottom: 10px;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.466);
    
}
#fav{
    cursor: pointer;
    background-color: #4e49016b;
    margin-top: 10px;
    margin-left: 12px;
    display: block;
    width: 27px;
    height: 27px;
    padding-top: 1.5px;
    border-radius: 5px;
    text-align: center;
    box-shadow: 1px 1px 5px #060911;
    
}
.star1, .star2{
    position: relative;
    left: 1px;
    
}
#work-visible > #visible-area{
   
    display: flex;
    position: absolute;
    background: rgba( 148, 169, 202, 0.2 );
    box-shadow: 0 8px 32px 0 rgba(29, 30, 41, 0.637);
    backdrop-filter: blur( 15.5px );
    -webkit-backdrop-filter: blur( 15.5px );
    border-radius: 4px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    height: 35px;
    width: 220px;
    transition: .5s;
    margin-left: 10px;
   
}
#work-visible > #visible-area:hover{
    background: rgba(255, 255, 255, 0.514);
    transition: .5s;
}
#work-visible > #visible-area > img{
    height: 24px;
    width: 24px;
    margin-top: 4px;
    margin-left: 2px;
}
#visible-area > p{
    cursor: pointer;
    margin-top: 5px;
    margin: auto;
    color: white;
    text-shadow: 1px 1px 10px #060911;
}
#abrir-janela-visivel-area-de-trabalho{
    z-index: 999;
    position: fixed;
    background-color: rgb(243, 243, 243);
    width: 330px;
    height: 390px;
    margin-top: 40px;
    margin-left: 20px;
    border-radius: 10px;
    color: #537181;
    box-shadow: 2px 2px 10px #060911;
    display: none;
}
#abrir-janela-visivel-area-de-trabalho > h1{
    text-align: center;
    padding: 5px;

}
#abrir-janela-visivel-area-de-trabalho > span{
    float: right;
    margin-right: 10px;
    margin-top: 10px;
    cursor: pointer;

}
#abrir-janela-visivel-area-de-trabalho > span:hover{
    color: #131b31;
}
#abrir-janela-visivel-area-de-trabalho > h2{
    margin: 5px 0px 5px 10px;
}
#abrir-janela-visivel-area-de-trabalho > p{
    margin: 0px 0px 0px 10px;
}
#quadrodiv{
    
    margin-left: 240px;
    height: 50px;
    width: 200px;
}
#quadrodiv > #quadro{
    cursor: pointer;
    display: flex;
    border-radius: 5px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    box-shadow: 1px 1px 5px #060911a6;
    height: 35px;
    width: 130px;
    transition: .5s;
    margin-left: 10px;
}
#quadrodiv > #quadro > img{
    
    margin-left: 19px;
    margin-top: 5px;
}
#quadrodiv > #quadro > p{
    color: #131b31;
    margin: auto;
    font-weight: bolder;
    font-size: 1.2em;
}
#quadrodiv > #quadro > p:hover{
    color: #263458;
}
#pop-up-quadro{
    z-index: 999;
    position: fixed;
    background-color: #ffffff;
    width: 300px;
    height: 320px;
    margin-left: 190px;
    border-radius: 3%;
    display: none;
}
#pop-up-quadro > .st{
    font-weight: 600;
    color: #060911;
}
#pop-up-quadro > p{
    color: #646464;
    line-height: 40px;
    margin-left: 5px;
}

#pop-up-quadro > span{
    cursor: pointer;
    float: right;
    margin-right: 10px;
    margin-top: 13px;
}
#secao-info{
    
    display: flex;
    position: inherit;
}
#infoin-1{
    width: 100vw;
}
#infoin-2{
    display: flex;
    width: 100vw;
    height: 40px;
    top: 105px;
    left: 2px;
    
}
#infoin-2 > button{
    height: 40px;
    cursor: pointer;
    margin-right: 5px;
    background: rgba( 255, 253, 253, 0.3 );
    box-shadow: 0 8px 32px 0 rgba(16, 17, 39, 0.37);
    backdrop-filter: blur( 0.5px );
    -webkit-backdrop-filter: blur( 0.5px );
    border-radius: 3px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );  
    transition: .5s;
    
}
#infoin-2 > button:hover{
    background-color: #dbdbdbda;
    backdrop-filter: blur( 20px );
    -webkit-backdrop-filter: blur( 30px );
    box-shadow: none;
    transform: translate(-4px, -4px);
}
#powerup{
    width: 120px;
}
#powerup > img{
    height: 24px;
    width: 24px;
    float: left;
}
#powerup > p{
    font-size: 1.1em;
    color: white;
    margin-top: 5px;
    text-shadow:1px 1px 5px #060911ab;
}
#auto{
    width: 90px;
}
#auto > img{
    float: left;
    height: 30px;
    width: 30px;
}
#auto > p{
    font-size: 1.2em;
    color: white;
    margin-right: 13px;
    margin-top: 7px;
    text-shadow:1px 1px 5px #060911ab;
}
#filter{
    width: 80px;   
}
#filter > img{
    height: 24px;
    width: 24px;
    float: left;
    margin-left: 2px;
}
#filter > p{
    font-size: 1.1em;
    text-shadow:1px 1px 5px #060911ab;
    color: white;
    margin-right: 5px;
    margin-top: 5px;
}
#share{
    width: 110px;  
}
#share > img{
    height: 20px;
    width: 20px;
    float: left;
}
#share > p{
    margin-top: 3px;
    font-size: 1.05em;
    color: white;
    text-shadow:1px 1px 5px #060911ab;
}
#mostrar-mais{
    width: 40px;
}
#mostrar-mais > img{
    width: 24px;
}
#task{
    height: 400px;
    display:flex;
    position: relative;
    margin-left: 10px;
    margin-top: 15px;
}

#task div{
    margin: 10px;
    height: 350px;
    width: 300px;
    
}
#task > #task-diaria{
    display: block;
}

button#btn-addtask1{
    font-family: "keepcalm";
    position: relative;
    cursor: pointer;
    color: #ffffff;
    background: linear-gradient(45deg, #0a2d47a2, #05194e);
    height: 40px;
    width: 100%;
    border: none;
    border-radius: 3px;
    font-size: 1.1em;
    font-weight: bold;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.402);
}
#task > #task-ongoing{
    display: block;
    
}
button#btn-addtask2{
    font-family: "keepcalm";
    position: relative;
    cursor: pointer;
    color: #ffffff;
    background: linear-gradient(45deg, #6b250dd8, #740303);
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 3px;
    font-size: 1.1em;
    font-weight: bold;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.402);
}
#task > #task-concluida{
    display: block;
}
button#btn-addtask3{
    font-family: "keepcalm";
    position: relative;
    cursor: pointer;
    color: #ffffff;
    background: linear-gradient(45deg, #0c6042d8, #023b04);
    height: 40px;
    width: 100%;
    border: none;
    border-radius: 3px;
    font-size: 1.1em;
    font-weight: bold;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.402);
}
#td{
    font-family: "kiona";
    text-align: center;
    color: #191b20;
    padding: 10px;
    font-size: 1.2em;
    background: rgba(255, 255, 255, 0.493);
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 6px );
-webkit-backdrop-filter: blur( 6px );
border-radius: 0px 0px 10px 10px;
}
#tog{
    font-family: "kiona";
    text-align: center;
    color: #191b20;
    padding: 10px;
    font-size: 1.2em;
    background: rgba(255, 255, 255, 0.493);
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 6px );
-webkit-backdrop-filter: blur( 6px );
border-radius: 0px 0px 10px 10px;
}
#tc{
    font-family: "kiona";
    text-align: center;
    color: #191b20;
    padding: 10px;
    font-size: 1.2em;
    background: rgba(255, 255, 255, 0.493);
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 6px );
-webkit-backdrop-filter: blur( 6px );
border-radius: 0px 0px 10px 10px;
}
.tarefa {
    width: 100%;
    height: 50px;
    border-radius: 4px;
    background-color: #ccc;
    position: relative;
    overflow: hidden;
    transition: .4s;
  }
  
  .tarefa h2 {
    font-size: 0.9em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .tarefa button {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: green;
    color: white;
    border: 1px solid black;
    padding: 5px;
    cursor: pointer;
  }
  
  .tarefa button:hover {
    background-color: #006400;
  }

  .btnEditar{
    position: absolute;
    bottom: 10px;
    left: 10px;
    width: 50px;
    background-color: green;
    color: white;
    border: 1px solid black;
    padding: 5px;
    cursor: pointer;
    
    
  }
  #btn-ExcluirAlltask{
    position: relative;
    margin-top: 15px;
    cursor: pointer;
    height: 40px;
    width: 200px;
    border: none;
    border-radius: 10px;
    box-shadow: 2px 2px 10px black;

    font-family: keepcalm;
    background: linear-gradient(45deg,rgba(197, 73, 73, 0.637), rgb(131, 24, 24), rgba(92, 1, 1, 0.842));
    color: white;
    
  }
  #btn-ExcluirAlltask:hover{
    background: linear-gradient(45deg,rgba(197, 119, 73, 0.637), rgb(131, 63, 24), rgba(92, 56, 1, 0.842));
  }

.destaque{
    transition: .4s;
}
  .is-dragging{
   cursor: move;
  }
  .over {
    border: 3px dotted #666;
}


.tituloModal{
    display: block;
    position: static;
    width: 100%;
    height: 30%;
    margin-top: 5px;
    
}
.btnCriarIn{
    cursor: pointer;
    background-color: cornsilk;
    border: none;
    border-radius: 4px;
    color: black;
    font-weight: bolder;
    width: 100px;
    height: 35px;
}
.btnCriarIn:hover{
    background-color: rgb(145, 145, 144);
}
.textarea{
    border-radius: 5px;
}
.btnRemoveInput{
    cursor: pointer;
    background-color: cornsilk;
    border: none;
    border-radius: 4px;
    color: black;
    font-weight: bolder;
    width: 100px;
    height: 35px;
}




