@charset "UTF-8";

@font-face {
    font-family: "k";
    src: url(../font/kiona/Kiona-Regular.ttf) format('truetype');
}
@font-face {
    font-family: ts;
    src: url(../font/tommy-soft/MADE\ Tommy\ Soft\ Light\ Outline\ PERSONAL\ USE.otf) format(opentype);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body, html{
    background: url(../imagens/formas-de-papel-psicodelico-multicoloridas.jpg);
    overflow: hidden;
    background-repeat: repeat;
    background-size: cover;
    background-position: center center;
}
main{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background: linear-gradient(-45deg, #2a56e6eb, #3b7ca8f7, #3cb2d2ee);
}

form{
    display: flex;
    flex-direction: column;
    line-height: 70px;
}
form > label{
    color: #392c30;
    font-weight: 900;
    font-family: k;
}

#h1{
    text-align: center;
}
img{
    width: 190px;
    margin-top: 10px;
}
footer{
    
    color: white;
    text-align: center;
}
footer > a{
    text-decoration: none;
    color: #270713;
}

#animation{
   display: none; 
}